<h1>{{ formTitle }}</h1>

<form [formGroup]="formGroup" (ngSubmit)="triggerSubmitFunc()">
    <div *ngFor="let field of formEspec">
      <label>{{ field.label }}: </label>
      <input
        *ngIf="field.type === 'text'"
        type="text"
        [formControlName]="field.name"
      />
      <select *ngIf="field.type === 'select'" [formControlName]="field.name">
        <option *ngFor="let option of field.options" [value]="option.value">
          {{ option.label }}
        </option>
      </select>
    </div>

    <button type="submit" [disabled]="!formGroup.valid">Salvar</button>
</form>